body, html, #root, .map-container {
  height: 100%;
  margin: 0;
}

.container {
  font-family: 'Exo 2', sans-serif;
}

.header {
  height: 36px;
  background-color: #333; /* Adjust as needed */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600; /* semi-bold */
  font-size: 20px; /* Adjust as needed */
}

.leaflet-container {
  height: calc(100vh - 36px);
}


