body,
html,
#root,
.map-container {
  height: 100%;
  margin: 0;
}

.container {
  font-family: "Exo 2", sans-serif;
}

.header {
  height: 36px;
  background-color: #333; /* Adjust as needed */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 600; /* semi-bold */
  font-size: 20px; /* Adjust as needed */
}

.about {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);  
  font-size: 0.6em; /* Smaller font size */
  font-weight: 500;
  font-family: sans-serif; /* Default sans-serif font */  
}

.overlay {
  position: fixed;
  top: 20%;
  left: 30%;
  right: 75%;
  bottom: 50%;
  width: 40%;
  color: black;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  z-index: 999;
  /* more styling as needed */
}

.leaflet-container {
  height: calc(100vh - 36px);
}

.weather-map {
  width: 100vw;
  height: 100vh;
}

.timeoverlay {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000; /* Ensure it's above the map */
  font-family: "Exo 2", sans-serif;
}

.timeoverlayhead {
  text-align: center;
}

.timeoverlay input {
  font-family: "Exo 2", sans-serif;
}

.timeoverlay button {
  font-family: "Exo 2", sans-serif;
}

.timeoverlay select {
  font-family: 'Exo 2', sans-serif;
  padding: 2px;
  margin-right: 10px; /* space between the select and the date input */
  border-radius: 5px;
  border: 1px solid #ccc;
  /* Add other styles as needed */
}

.stationPopup {
  font-family: "Exo 2", sans-serif;
  text-align: center;
}

